@model List<CarProject.Dto.AboutDtos.ResultAboutDto>

@foreach(var items in Model)
{
	

<section class="ftco-section ftco-about">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
			style="background-image: url(@items.imageURL);">
			</div>
			<div class="col-md-6 wrap-about ftco-animate">
				<div class="heading-section heading-section-white pl-md-5">
					<span class="subheading">Hakkımızda</span>
					<h2 class="mb-2">@items.title</h2>

					<p>@items.description</p>
					<p><a href="/RentACar/Index/" class="btn btn-primary py-3 px-4">Hemen Araç Kirala</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
}
